*.bak
*.o
*.old
*.orig
*.rej
*~
.*.swp
.DS_Store
.VolumeIcon.icns

*.dmg
*.pkg

[Dd]efaults.*
Debug.sh

Backup.d/*

Config.d/*
!Config.d/Sample.sh

File.d/*
!File.d/motd.in
!File.d/sudo.80admin.in

Local.d/*
!Local.d/Sample.sh

!.git
!.git_keep
!.gitkeep
